# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/bce-server/ve
/bce-server/env
node_modules/
/bce-server/zappa_settings.json
/bce-server/static

.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class