<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <h2>Create Risk</h2>
      <label for="risk_type_dd">Please select risk type</label>
      <select class="form-control" id="risk_type_dd" required (change)="onChange($event.target.value)">
        <option value="" selected="true" disabled>Select Risk Type</option>
        <ng-container *ngFor="let i of riskTypes">
          <option [value]="i.id"  *ngIf="i.active">{{i.label}}</option>
        </ng-container>

      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12" *ngIf="selectedRiskType">
    <form [formGroup]="riskForm" (ngSubmit)="onSubmit()">
      <h2>Creating new {{selectedRiskType.name}} risk</h2>
      <div class="form-group" *ngFor="let field of selectedRiskType.fields">
        <!--<label *ngIf="field.type == 'DROPDOWN'" for="{{field.name}}">{{field.label}}</label>-->
        <mat-form-field *ngIf="field.type == 'TEXT'">
          <input placeholder="{{field.label}}" matInput class="form-control"  required="{{field.required}}" name="{{field.name}}" formControlName="{{field.name}}"
                 [matTooltip]="field.tooltip" matTooltipPosition="right">
        </mat-form-field>

        <mat-form-field *ngIf="field.type == 'TEXTAREA'">
          <textarea placeholder="{{field.label}}" matInput class="form-control"  required="{{field.required}}" name="{{field.name}}" formControlName="{{field.name}}"
                    [matTooltip]="field.tooltip" matTooltipPosition="right"></textarea>
        </mat-form-field>

        <mat-form-field *ngIf="field.type == 'DATE'">
          <input matInput [matDatepicker]="picker" placeholder="{{field.label}}" class="form-control" required="{{field.required}}"
                 (click)="picker.open()" (focus)="picker.open()" name="{{field.name}}"  formControlName="{{field.name}}"
                 [matTooltip]="field.tooltip" matTooltipPosition="right">

          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="example-full-width" *ngIf="field.type == 'CURRENCY'">
          <input placeholder="{{field.label}}" matInput type="number" required="{{field.required}}" name="{{field.name}}"  formControlName="{{field.name}}"
                 [matTooltip]="field.tooltip" matTooltipPosition="right">
        </mat-form-field>

        <mat-form-field class="example-full-width" *ngIf="field.type == 'EMAIL'">
          <input placeholder="{{field.label}}" matInput type="email" required="{{field.required}}" name="{{field.name}}"  formControlName="{{field.name}}"
                 [matTooltip]="field.tooltip" matTooltipPosition="right">
        </mat-form-field>

        <mat-form-field class="example-full-width" *ngIf="field.type == 'NUMBER'">
          <!--<input matInput placeholder="First name">-->
          <input placeholder="{{field.label}}" matInput type="number" required="{{field.required}}" name="{{field.name}}"  formControlName="{{field.name}}"
                 [matTooltip]="field.tooltip" matTooltipPosition="right">
        </mat-form-field>

        <mat-form-field class="example-full-width" *ngIf="field.type == 'INTEGER'">
          <input placeholder="{{field.label}}" matInput type="number" class="form-control integer"  required="{{field.required}}" name="{{field.name}}"  formControlName="{{field.name}}"
                 [matTooltip]="field.tooltip" matTooltipPosition="right">
        </mat-form-field>

        <mat-form-field *ngIf="field.type == 'FLOAT'">
          <input placeholder="{{field.label}}" matInput class="form-control real_number"  required="{{field.required}}" name="{{field.name}}"  formControlName="{{field.name}}"
                 [matTooltip]="field.tooltip" matTooltipPosition="right">
        </mat-form-field>
        <mat-radio-group class="radio-group" *ngIf="field.type == 'RADIO'" formControlName="{{field.name}}">
          <label>{{field.label}}</label>
          <!--<label class="form-control" *ngFor="let option of field.options" >  -->
            <mat-radio-button  class="radio-button"  *ngFor="let option of field.options" name="{{field.name}}"  [value]="option.choice"
                               [matTooltip]="field.tooltip" matTooltipPosition="right">
              {{option.label}}
            </mat-radio-button>

          <!--</label>-->
        </mat-radio-group>
        <mat-form-field *ngIf="field.type == 'DROPDOWN'">
          <mat-select placeholder="{{field.label}}" required="{{field.required}}"  formControlName="{{field.name}}"
                      [matTooltip]="field.tooltip" matTooltipPosition="right">
            <mat-option value="" selected="true" disabled>Select {{field.name}}</mat-option>
            <mat-option  *ngFor="let option of field.options" [value]="option.choice">{{option.label}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
