<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">BCE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/risks">Create Risk <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/risk-types">Manage Risk Types</a>
        </li>
        <!--<li class="nav-item dropdown">-->
          <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--Manage Risk Types-->
          <!--</a>-->
          <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
            <!--<a class="dropdown-item" href="#">Create Risk Types</a>-->
            <!--<a class="dropdown-item" href="#"></a>-->
            <!--<div class="dropdown-divider"></div>-->
            <!--<a class="dropdown-item" href="#">Something else here</a>-->
          <!--</div>-->
        <!--</li>-->
      </ul>
      <ul class="navbar-nav navbar-right">
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" href="#">Log In</a>-->
        <!--</li>-->
        <li class="nav-item">
          <a class="nav-link" (click)="logout()" >Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="col-sm-12">
    <app-alert></app-alert>
    <router-outlet></router-outlet>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <hr>
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</footer>
