django
djangorestframework
djangorestframework-jwt
psycopg2
django-s3-storage
django-cors-headers
django-webpack-loader
zappa
django-environ==0.4.5
pre-commit
pytest
pytest-django
factory-boy==2.11.1
coverage